body{
    background-image: url(https://media.istockphoto.com/photos/delicious-homemade-chocolate-cake-picture-id628711890?k=6&m=628711890&s=612x612&w=0&h=VVtdL5CiMLEMEwO_5_WyViLyMH6bujToHiVKpe5fga0=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.everything{
    padding: 0 5%;
    width: fit-content;
   }

.top-container{
    font-family: sans-serif;
    color: white;
    text-align: center;
    width: auto;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    
}

.intro{
    padding: 175px 0 125px;
}

.middle-container{
    background: white;
    width: auto;

}
.container{
    width: 60%;
    margin: 0 auto;
}

.bottom-container{
    background: white;

}

.specialities{
    height: 150px;
   
}

.grid{
    width: 80%;
    margin: 0 auto;
}

.row{
    text-align: center;
}

